<!-- breadcrumbs -->
<div class="breadcrumbs">
	<div class="container">
		<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
			<li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang chủ</a></li>
			<li class="active">Sản phẩm</li>
		</ol>
	</div>
</div>
<div class="products">
	<div class="container">
		<div class="col-md-4 products-left">
			<div class="filter-price animated wow slideInUp" data-wow-delay=".5s">
				<h3>Lọc theo giá</h3>
				<ul class="dropdown-menu1">
					<li><a href="">
							<div id="slider-range"></div>
							<input type="text" id="amount" style="border: 0" />
						</a></li>
				</ul>
				<script type='text/javascript'>//<![CDATA[ 
					$(window).load(function () {
						$("#slider-range").slider({
							range: true,
							min: 0,
							max: 100000,
							values: [20000, 80000],
							slide: function (event, ui) {
								$("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
							}
						});
						$("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));


					});//]]>
				</script>
				<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
				<!---->
			</div>
			<div class="categories animated wow slideInUp" data-wow-delay=".5s">
				<h3>Danh mục</h3>
				
				{{!-- AXIOS --}}
				<ul id="categoryMenu" class="cate"> 
					<li><a href="/product">Bán chạy</a></li>
					<li><a href="/product?key=men">Nam</a></li>
					<ul>
						{{!-- <li><a href="/product">Phụ kiện</a> <span>(2)</span></li>
						<li><a href="/product">Coats & Jackets</a> <span>(5)</span></li>
						<li><a href="/product">Quần jean</a> <span>(1)</span></li>
						<li><a href="/product">New Arrivals</a> <span>(0)</span></li>
						<li><a href="/product">Suits</a> <span>(1)</span></li> --}}
						<li><a href="/product?key=men&type=shoes">Giày</a></li>
						<li><a href="/product?key=men&type=t-shirt">Áo sơ mi</a></li>
					</ul>

					<li><a href="/product?key=man">Phụ nữ</a></li>
					<ul>
						<li><a href="/product">Phụ kiện</a></li>
						<li><a href="/product">Áo sơ mi</a></li>

					</ul>
				</ul>
			</div>
			<div class="new-products animated wow slideInUp" data-wow-delay=".5s">
				<h3>Sản phẩm mới</h3>
				<div class="new-products-grids">
					<div class="new-products-grid">
						<div class="new-products-grid-left">
							<a href="#"><img src="/images/6.jpg" alt=" " class="img-responsive" /></a>
						</div>
						<div class="new-products-grid-right">
							<h4><a href="#">Bông tai</a></h4>
							<div class="rating">
								<div class="rating-left">
									<img src="/images/2.png" alt=" " class="img-responsive">
								</div>
								<div class="rating-left">
									<img src="/images/2.png" alt=" " class="img-responsive">
								</div>
								<div class="rating-left">
									<img src="/images/2.png" alt=" " class="img-responsive">
								</div>
								<div class="rating-left">
									<img src="/images/1.png" alt=" " class="img-responsive">
								</div>
								<div class="rating-left">
									<img src="/images/1.png" alt=" " class="img-responsive">
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="simpleCart_shelfItem new-products-grid-right-add-cart">
								<p> <span class="item_price">$180</span><a class="item_add" href="#">Thêm vào giỏ </a>
								</p>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="new-products-grid">
						<div class="new-products-grid-left">
							<a href="#"><img src="/images/26.jpg" alt=" " class="img-responsive" /></a>
						</div>
						<div class="new-products-grid-right">
							<h4><a href="#">Bộ suits nữ</a></h4>
							<div class="rating">
								<div class="rating-left">
									<img src="/images/2.png" alt=" " class="img-responsive">
								</div>
								<div class="rating-left">
									<img src="/images/2.png" alt=" " class="img-responsive">
								</div>
								<div class="rating-left">
									<img src="/images/2.png" alt=" " class="img-responsive">
								</div>
								<div class="rating-left">
									<img src="/images/1.png" alt=" " class="img-responsive">
								</div>
								<div class="rating-left">
									<img src="/images/1.png" alt=" " class="img-responsive">
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="simpleCart_shelfItem new-products-grid-right-add-cart">
								<p> <span class="item_price">$250</span><a class="item_add" href="#">Thêm vào giỏ </a>
								</p>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="new-products-grid">
						<div class="new-products-grid-left">
							<a href="#"><img src="images/11.jpg" alt=" " class="img-responsive" /></a>
						</div>
						<div class="new-products-grid-right">
							<h4><a href="#">Vòng đeo tay</a></h4>
							<div class="rating">
								<div class="rating-left">
									<img src="/images/2.png" alt=" " class="img-responsive">
								</div>
								<div class="rating-left">
									<img src="/images/2.png" alt=" " class="img-responsive">
								</div>
								<div class="rating-left">
									<img src="/images/2.png" alt=" " class="img-responsive">
								</div>
								<div class="rating-left">
									<img src="/images/1.png" alt=" " class="img-responsive">
								</div>
								<div class="rating-left">
									<img src="/images/1.png" alt=" " class="img-responsive">
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="simpleCart_shelfItem new-products-grid-right-add-cart">
								<p> <span class="item_price">$259</span><a class="item_add" href="#">Thêm vào giỏ </a>
								</p>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<div class="men-position animated wow slideInUp" data-wow-delay=".5s">
				<a href="#"><img src="/images/27.jpg" alt=" " class="img-responsive" /></a>
				<div class="men-position-pos">
					<h4>Bộ sưu tập mùa hè</h4>
					<h5> Giảm giá <span>55%</span></h5>
				</div>
			</div>
		</div>
		<div class="col-md-8 products-right">
			<div class="products-right-grid">
				<div class="products-right-grids animated wow slideInRight" data-wow-delay=".5s">
					<div class="sorting">
						<select id="country" onchange="window.location.href = this.value;"
							class="frm-field required sect">

							<option value="null">Đề cử</option>
							<option value="/product?act=asc">Giá tăng dần</option>
							<option value="/product?act=desc">Giá giảm dần</option>
							<option value="/product?act=nameaz">Tên A-Z</option>
							<option value="/product?act=nameza">Tên Z-A</option>
						</select>
					</div>

					<div class="clearfix"> </div>
				</div>
				<div>
					<p><a href="/product/asc">Giá tăng dần</a></p>
				</div>
				<div class="products-right-grids-position animated wow slideInRight" data-wow-delay=".5s">
					<img src="/images/18.jpg" alt=" " class="img-responsive" />
					<div class="products-right-grids-position1">
						<h4>Bộ sưu tập mới nhất 2019</h4>
						<p>Kiểu dáng đa dạng, thiết kế sang trọng, đẳng cấp</p>
					</div>
				</div>
			</div>

			<div class="products-right-grids-bottom">

				{{!-- AXIOS --}}
				<div id="products" class="row">
					{{!-- {{#each product_list}}
					
					<div class="col-sm-4 products-right-grids-bottom-grid">
						<div class="new-collections-grid1 products-right-grid1 animated wow slideInUp"
							data-wow-delay=".5s">
							<div class="new-collections-grid1-image">
								<a href="/single/{{_id}}" class="product-image"><img src="{{image}}" alt=" "
										class="img-responsive"></a>
								<div class="new-collections-grid1-image-pos products-right-grids-pos">
									<a href="/product/single/{{_id}}">Xem chi tiết</a>
								</div>
								<div class="new-collections-grid1-right products-right-grids-pos-right">
									<div class="rating">
										<div class="rating-left">
											<img src="/images/2.png" alt=" " class="img-responsive">
										</div>
										<div class="rating-left">
											<img src="/images/2.png" alt=" " class="img-responsive">
										</div>
										<div class="rating-left">
											<img src="/images/2.png" alt=" " class="img-responsive">
										</div>
										<div class="rating-left">
											<img src="/images/1.png" alt=" " class="img-responsive">
										</div>
										<div class="rating-left">
											<img src="/images/1.png" alt=" " class="img-responsive">
										</div>
										<div class="clearfix"> </div>
									</div>
								</div>
							</div>
							<h4><a href="/single/{{_id}}">{{name}}</a></h4>
							<p>{{description}}</p>
							<div class="simpleCart_shelfItem products-right-grid1-add-cart">
								<p><span class="item_price">{{price}}VNĐ</span><a class="item_add" href="#">Thêm
										vào giỏ </a></p>
							</div>
						</div>
					</div>
					{{/each}} --}}
					<div class="clearfix"> </div>

				</div>

			</div>

			<nav class="numbering animated wow slideInRight" data-wow-delay=".5s">
				<ul class="pagination paging">
					<li>
						<button class="btn btn-link" onclick="pageFunction(this)" value=1 href="/product?page=1" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</button>
					</li>
					
					{{#each pagination}}
					
					<li><button class="btn btn-link" onclick="pageFunction(this)" value={{this}} href="/product?page={{this}}">{{this}}</button></li>
					
						
					{{/each}}
					<li>
						<button class="btn btn-link" onclick="pageFunction(this)" value={{last_page}} href="/product?page={{last_page}}" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</button>
					</li>
				</ul>
			</nav>
		</div>
		<div class="clearfix"> </div>
	</div>

</div>